#Container{
    display: grid;
    width: 600px;
    height: 600px;
}
.Cubo{
    border: 1px solid;
}
.color{
    background-color: black;
}
.color1{
    background-color: green;
}
.color2{
    background-color: yellow;
}
.color3{
    background-color: red;
}